There are no timesheets.

%section.timesheets.draft
  %header
    %h2 Draft
  %ul
    - @timesheets.draft do |timesheet|
      %li.timesheet=timesheet.total_hours
%section.timesheets.approved
  %header
    %h2 Approved
  %ul
    - @timesheets.approved do |timesheet|
      %li.timesheet=timesheet.total_hours
