There are no timesheets.

%section.timesheets.draft
  %header
    %h2 Draft
  %ul
    %li.timesheet 40
    %li.timesheet 45
%section.timesheets.approved
  %header
    %h2 Approved
  %ul
    %li.timesheet 42
